# R Basics

In [1]:
# This is a comment

## print() function

In [2]:
print("Hello World!")

[1] "Hello World!"

## Valid variable names in R and assignments

In [3]:
valid_variable_name <- 721
valid.variable.name = 720
719 -> ValidVariableName

## Arithmetic in R

In [4]:
x <- 4
y <- 7
x + y

[1] 11

## Order of operations

In [5]:
3^4 * 2 + 1

[1] 163

## Using parentheses to change order of operations

In [6]:
3 ^ (4 * 2 + 1)

[1] 19683

## Variables with string data

In [7]:
a = "This a sentence"
b = "pasted together"
print(a) 
print(b)
paste(a, b)

[1] "This a sentence"
[1] "pasted together"

[1] "This a sentence pasted together"

# Statistics Example

## Calculating a z-score

In [8]:
x <- 472
mu <- 440
sigma <- 23
z.score <- (x - mu) / sigma
z.score

[1] 1.391304

## Calculating the percentile of x = 472

In [9]:
pnorm(z.score)*100

[1] 91.79334

## Calculating percentage of values above x = 472

In [10]:
pnorm(z.score, lower.tail = FALSE) * 100

[1] 8.206658

# Defining a function in R

In [11]:
f.to.c <- function(TF){
  (TF-32)*5/9
}
temp.in.c <- f.to.c(73)
temp.in.c

[1] 22.77778

# Vectors

In [12]:
heights <- c(171, 192, 183, 177, 154, 176)

up = 1:10
up

down = 10:1
down

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] 10  9  8  7  6  5  4  3  2  1

# Vector Arithmetic

## Example: Convert height from cm to inches

In [13]:
h.inch = heights / 2.54

soles = c(4, 1, 2, 6, 3, 5)
heights-soles

[1] 167 191 181 171 151 171

## Operations with vectors of different lengths - recycling the vector of shorter length

In [14]:
x <- c(1, 2)
y <- c(4, 5, 6, 7, 8, 9)
y - x

[1] 3 3 5 5 7 7

## Functions on vectors

In [15]:
sqrt(up)

 [1] 1.000000 1.414214 1.732051 2.000000 2.236068 2.449490 2.645751 2.828427
 [9] 3.000000 3.162278

## Logical Operators on Vectors

In [16]:
heights < 180

[1]  TRUE FALSE FALSE  TRUE  TRUE  TRUE

In [17]:
short = heights[heights < 180]
short

[1] 171 177 154 176

In [18]:
tall <- heights[heights >= 180]
tall

[1] 192 183

In [19]:
new.heights <- heights[heights != 177]
new.heights

[1] 171 192 183 154 176

## for Loops

In [21]:
for(n in 1:6){
  print(n) 
  print(n^2)
}

[1] 1
[1] 1
[1] 2
[1] 4
[1] 3
[1] 9
[1] 4
[1] 16
[1] 5
[1] 25
[1] 6
[1] 36

## Printing only the arguments

In [22]:
for(n in 1:6){
  cat(n, " ")
  cat(n^2, "\n")
}

1  1
2  4
3  9
4  16
5  25
6  36

## Converting many temperatures

In [23]:
f.temps <- c(-40, 0, 32, 100, 212, 400)
for (f in f.temps) {
  c <-f.to.c(f)
  cat("F: ", f, " ", "C: ", c, "\n")
}

F:  -40   C:  -40
F:  0   C:  -17.77778
F:  32   C:  0
F:  100   C:  37.77778
F:  212   C:  100
F:  400   C:  204.4444